<div class="container" >
    <div class="row" >
        <div class="col-sm-4" ></div>
        <div class="col-sm-4" >
            <h1>Utilities#show</h1>
            <p>Find me in app/views/utilities/show.html.erb</p>
        </div>
        <div class="col-sm-4" ></div>                
    </div>
</div>

